.row {
  margin: 0;
}

#offcanvasNavbar {
  background-image: linear-gradient(to top left, purple, blue);
}

#logo {
  position: fixed;
  width: 130px;
  height: 130px;
  top: -10px;
}
.container-scrollable {
  position: relative;
  top: 15px;
  height: 75vh;
  overflow-y: auto;
  width: 90%;
}

.container-login100 {
  background-image: url("../images/bg-01.jpg");
  background-attachment: fixed;
}

.container-scrollable::-webkit-scrollbar {
  width: 5px;
}

.container-scrollable::-webkit-scrollbar-track {
  background-color: rgba(200, 0, 0, 0.3);
  border-radius: 15px;
}

.container-scrollable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card.bg-dark.text-white:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px white;
}

.card {
  margin-bottom: 20px;
  background-image: linear-gradient(to top left, purple, blue);
}

.card-body h5 {
  text-align: left;
}

.fa-arrow-down {
  display: none;
}

#book-tkts,
.addpassengers {
  background-color: rgba(0, 0, 255, 0.7);
  padding: 30px;
  border-radius: 20px;
}

.button-submit {
  margin-top: 10px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .container-scrollable {
    height: 75vh;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    margin-bottom: 10px;
  }
  .container-scrollable {
    width: 100%;
  }
  #logo {
    top: 0;
    width: 100px;
    height: 100px;
  }
  .fa-arrow-right {
    display: none;
  }
  .fa-arrow-down {
    display: inline;
  }
  /* .table {
    width: 150%;
  } */
  .card-body h5 {
    font-size: 15px;
  }
}
