{% extends 'header.html' %}

{% block title %} Book Tickets {% endblock %}

{% block content %}

<!-- Body -->

<div class="container-scrollable text-center">
    <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <br>
    <form action="/home/booktickets" method="post" id="book-tkts">
        {% with messages = get_flashed_messages((error)) %}
        {% if messages %}
        {% for message in messages %}
        <h6 style='color:"red";'>{{ message }}</h6>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label for="browser" class="col-form-label">Source:</label>
                <input list="browsers" name="source" id="browser" class="form-control" autocomplete="off"
                    pattern="{{ '|'.join(stations) }}" required>

                <datalist id="browsers">
                    {% for station in stations %}
                    <option value="{{ station }}">
                        {% endfor %}
                </datalist>
            </div>
            <div class="col-md-4">
                <label for="browser" class="col-form-label">Destination:</label>
                <input list="browsers" name="destination" id="browser" class="form-control" autocomplete="off"
                    pattern="{{ '|'.join(stations) }}" required>

                <datalist id="browsers">
                    {% for station in stations %}
                    <option value="{{ station }}">
                        {% endfor %}
                </datalist>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="browser" class="col-form-label">Travel Date:</label>
                <input type="date" min="{{ min_date }}" max="{{ max_date }}" name="travel_date" class="form-control"
                    required>
            </div>
            <div class="col-md-4"></div>
        </div>
        <button type="submit" class="btn btn-primary button-submit">Submit</button>
    </form>
</div>
{% endblock %}