<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename= 'fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename= 'fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename= 'vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename= 'vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename= 'vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">
    <!--===============================================================================================-->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename= 'images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename= 'images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename= 'images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename= 'images/site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootswatch/bootstrap.min.css') }}">
    <script src="https://kit.fontawesome.com/cbd77f87f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
</head>

<body>
    <div class="container-login100">
        <!-- Navbar -->

        <nav class="navbar navbar-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home')}}">
                    <img src="{{ url_for('static', filename= 'images/logo.png') }}" alt="logo" id="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigations</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item text-center">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}"><button
                                        type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                                        data-bs-placement="left" title="Go to homepage">Home</button></a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link" href="/home/viewtickets"><button type="button"
                                        class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left"
                                        title="Go to homepage">View
                                        Tickets</button></a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link" href="/home/booktickets"><button type="button"
                                        class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left"
                                        title="Go to homepage">Book
                                        Tickets</button></a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link" href="/signout"><button type="button" class="btn btn-secondary"
                                        data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">Sign
                                        Out</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    {% block scripts %} {% endblock %}
</body>

</html>