{% extends 'header.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<!-- Body -->

<div class="container container-scrollable">

    <div class="row">
        <div class="col-lg-6" id="book-tickets">
            <a href="/home/booktickets">
                <div class="card bg-dark text-white">
                    <img src="{{ url_for('static', filename='./images/book-tickets.jpg') }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">Book ticket </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6" id="view-tickets">
            <a href="/home/viewtickets">
                <div class="card bg-dark text-white">
                    <img src="{{ url_for('static', filename='./images/view_tickets.jpg') }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">View Tickets</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6" id="view-tickets">
            <a href="/home/getalltrainsinfo">
                <div class="card bg-dark text-white">
                    <img src="{{ url_for('static', filename='./images/view_train_info.jpg') }}" class="card-img"
                        alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">View all Trains</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}