{% extends 'header.html' %}

{% block title %} home {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'bootswatch/bootstrap.min.css') }}">
{% endblock %}
{% block content %}

<!-- Navbar -->

<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home')}}">
            <img src="{{ url_for('static', filename= 'images/logo.png') }}" alt="logo" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
            style="background-color: #d428b5;">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigations</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item text-center">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}"><button
                                type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                                data-bs-placement="left" title="Go to homepage">Home</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/home/viewtickets"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">View
                                Tickets</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/home/booktickets"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">Book
                                Tickets</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/signout"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">Sign
                                Out</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Body -->

<div class="container container-scrollable">

    <div class="row">
        <div class="col-lg-6" id="book-tickets">
            <a href="/home/booktickets">
                <div class="card bg-dark text-white">
                    <img src="{{ url_for('static', filename='./images/book-tickets.jpg') }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">Book ticket </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6" id="view-tickets">
            <a href="/home/viewtickets">
                <div class="card bg-dark text-white">
                    <img src="{{ url_for('static', filename='./images/view_tickets.jpg') }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">View Tickets</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6" id="view-tickets">
            <a href="/home/getalltrainsinfo">
                <div class="card bg-dark text-white">
                    <img src="{{ url_for('static', filename='./images/view_train_info.jpg') }}" class="card-img"
                        alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">View all Trains</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}