{% extends 'header.html' %}

{% block title %} Cancel Ticket {% endblock %}

{% block content %}

<!-- Body -->

<div class="container container-scrollable">
    <div class="card text-center">
        <div class="card-header row">
            <div class="col-md-4">
                <h3>From: {{ ticket.from_station }}</h3>
            </div>
            <div class="col-md-4">
                <h2><i class="fas fa-arrow-right"></i></h2>
                <h2><i class="fas fa-arrow-down"></i></h2>
            </div>
            <div class="col-md-4">
                <h3>To: {{ ticket.to_station }}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h5>PNR: {{ ticket.pnr }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Train No: {{ ticket.train_no }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Train Name: {{ ticket.train_name }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Price: ₹{{ ticket.price }}</h5>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Passenger Name</th>
                            <th>Seat No</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for passenger in ticket.passengers %}
                        <tr>
                            <td>{{ passenger[0] }}</td>
                            <td>{{ passenger[2] }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-{{ passenger[3] }}">
                                    Delete
                                </button>

                                <div class="modal fade" id="exampleModal-{{ passenger[3] }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete passenger {{ passenger[0] }}?
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-primary"
                                                    href="/home/cancelpassenger/{{ passenger[3] }}">Delete</a>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
            <h5>Booking Date: {{ ticket.booking_date }}</h5>
        </div>
    </div>
</div>

{% endblock %}