{% extends 'header.html' %}

{% block title %} Tickets {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'bootswatch/bootstrap.min.css') }}">
{% endblock %}
{% block content %}

<!-- Navbar -->

<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home')}}">
            <h3><b><i>Railways</i></b></h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigations</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item text-center">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}"><button
                                type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                                data-bs-placement="left" title="Go to homepage">Home</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/home/viewtickets"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">View
                                Tickets</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/home/booktickets"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">Book
                                Tickets</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/signout"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">Sign
                                Out</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Body -->

<div class="container container-scrollable">
    {% if tickets %}
    {% for ticket in tickets %}
    <div class="card text-center">
        <div class="card-header row">
            <div class="col-md-4">
                <h3>{{ ticket.from_station }}</h3>
            </div>
            <div class="col-md-4">
                <h2><i class="fas fa-arrow-right"></i></h2>
                <h2><i class="fas fa-arrow-down"></i></h2>
            </div>
            <div class="col-md-4">
                <h3>{{ ticket.to_station }}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h5>PNR: {{ ticket.pnr }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Train No: {{ ticket.train_no }}</h5>
                </div>
                <div class="col-md-6">
                    <h5>Train Name: {{ ticket.train_name }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Arrival Time: {{ ticket.arrival_time }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Departure Time: {{ ticket.depart_time }}</h5>
                </div>
                <div class="col-md-6">
                    <h5>Departure Date: {{ ticket.travelling_date }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Reaching Time: {{ ticket.reaching_time }}</h5>
                </div>
                <div class="col-md-6">
                    <h5>Reaching Date: {{ ticket.reaching_date }}</h5>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Passenger Name</th>
                        <th>Passenger Age</th>
                        <th>Seat No</th>
                    </tr>
                </thead>
                <tbody>
                    {% for passenger in ticket.passengers %}
                    <tr>
                        <td>{{ passenger[0] }}</td>
                        <td>{{ passenger[1] }}</td>
                        <td>{{ passenger[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <h5>Booking Date: {{ ticket.booking_date }}</h5>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1 class="text-center">No tickets found!</h1>
    {% endif %}

</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}