{% extends 'header.html' %}

{% block title %} Train Details {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'bootswatch/bootstrap.min.css') }}">
{% endblock %}
{% block content %}

<!-- Navbar -->

<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home')}}">
            <img src="{{ url_for('static', filename= 'images/logo.png') }}" alt="logo" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigations</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item text-center">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}"><button
                                type="button" class="btn btn-secondary" data-bs-toggle="tooltip"
                                data-bs-placement="left" title="Go to homepage">Home</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/home/viewtickets"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">View
                                Tickets</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/home/booktickets"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">Book
                                Tickets</button></a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/signout"><button type="button" class="btn btn-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Go to homepage">Sign
                                Out</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Body -->

<div class="container container-scrollable">
    <div class="table-responsive-sm">
        <table class="table table-dark text-center table-hover table-bordered">
            <thead>
                <tr>
                    <th>Train No</th>
                    <th>Train Name</th>
                    <th>Station</th>
                    <th>Arrival Time</th>
                    <th>Departure Time</th>
                </tr>
            </thead>
            <tbody>
                {% for train in trainsinfo %}
                <tr>
                    <td rowspan="{{ train.no_of_stations + 1 }}">{{ train.train_no }}</td>
                    <td rowspan="{{ train.no_of_stations + 1 }}">{{ train.train_name }}</td>
                </tr>
                {% for i in range(train.no_of_stations) %}
                <tr>
                    <td>{{ train.stations_list[i] }}</td>
                    <td>{{ train.arrival_times[i] }}</td>
                    <td>{{ train.depart_times[i] }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}